h1 {
	font-size: 3em;
	text-align: center;
}

@for $i from 1 through 6 {
	.qa:nth-of-type(#{$i}) {
		span {
			@include transition(width #{(7 - $i) * 0.15}s ease-in-out);
		}
		.question:before {
			@include transition(left #{(7 - $i) * 0.15}s ease-in-out);
		}
		&.next {
			.question {
				&:before {
				left: 55% - $i * 5;
				}
				width: 55% - $i * 5;
			}
			.answer {
				width: 45% + $i * 5;
			}
		}
	}
}

.qa {
	margin: 1em 0;
	&:nth-of-type(1) {
		margin: 0;
	}
	span {
		font-size: 2em;
		display: inline-block;
	}
	p {
		padding: 1em;
	}
	.question {
		width: 0%;
		background-color: $mgColor;
		&:before {
			content: "";
			width: 0;
			border-top: 3em solid $mgColor;
			border-right: 1em solid transparent;
			position: absolute;
			left: 0%;
		}
	}
	.answer {
		color: $mgColor;
		background-color: $homeColor;
		width: 70%;
		text-align: right;
	}
}

.wrap-top, .wrap-bottom {
	position: absolute;
	left: 0;
	margin: -6.6em 0 0 -0.6em;
	border: 0.2em solid transparent;
}

.wrap-bottom {
	left: 100%;
	margin: 0.2em;
}

.textbox .title p {
	color: $homeColor;
}