html, body {
	width: 100%;
	height: 100%;
}

body {
	color: $fgColor;
	a {
		text-decoration: none;
		color: $fgColor;
	}
}

header {
	width: 100%;
	height: 100%;
	position: absolute;
}

#wrapper {
	min-height: 100%;
}

#prev {
	z-index: 197;
	position: absolute;
}

#circle {
	width: 0px;
    height: 0px;
    overflow: hidden;
    position: absolute;
   	border: 2000px solid transparent;
   	border-radius: 10000px;
}

#desaturate {
	opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.77);
	z-index: 0;
	@include transition (opacity 0.3s ease-in-out);
}

.container {
	width: 100%;
	z-index: 199;
	#top {
		width: 100%;
		overflow: hidden;
	}
	#top img {
		position: relative;
		display: block;
	}
	#bottom {
		width: 100%;
		background-color: $bgColor;
	}
	#hex-line {
		position: relative;
		width: 100%;
		background-color: #FFFFFF;
		height: 1em;
		@include background-image(linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent));
		background-size: 50px 50px;
	}
	#hex-bg {
		position: absolute;
		top: 0.41666666666em;
		font-size: 1.2em;
		left: 50%;
		@include transform( translate(-50%, -50%) );
	}
}

#content {
	position: relative;
	width: 70%;
	left: 15%;
	@media only screen and (max-width: 600px) {
	    width: 80%;
	    left: 10%;
	}
	@media only screen and (max-width: 400px) {
	    width: 90%;
	    left: 5%;
	}
	padding: 6em 0 2em;
}

footer {
	position: relative;
	height: 2 * $block;
	width: 100%;
	background-color: $mgColor;
	clear: both;
	#social {
		position: absolute;
		left: 50%;
		@include transform( translate(-50%, 0%) );
	}
	.footer-block-wrapper {
		display: inline-block;
		width: $block;
		height: $block;
		margin: 0.7em 0.3em;
		overflow: hidden;
	}
	.footer-block {
		position: relative;
		top: 0;
		img {
			width: 100%;
			height: 100%;
		}
	}
	p {
		position: relative;
		top: 4.4em;
		left: 0.45em;
		font-size: 1em;
		letter-spacing: 0.8em;
		color: lighten($mgColor, 40%);
		text-align: center;
		@include transition(all 0.4s ease-in-out);
	}
}


#placeholder {
	height: 9001px;
}

.textbox {
	max-width: 800px;
	margin: 0 auto;
	padding: 1em 0;
	.title {
		text-align: center;
		font-size: 2.5em;
		p {
			padding: 0 0.7em;
			background: $bgColor;
			position: relative;
			display: inline;
		}
	}
	.line {
		border-top: 0.05em solid lighten($mgColor, 10%);
		border-bottom: 0.05em solid lighten($mgColor, 10%);
		position: relative;
		top: 0.5em;
		width: 0;
		left: 50%;
		@include transform( translate(-50%, 0%) );
	}
	.text {
		text-align: justify;
		font-family: 'klinic_slabbook';
		padding: 1em;
		line-height: 1.5em;
		font-weight: 500;
		font-size: 1.2em;
		position: relative;
	}
	.subtitle {
		text-align: left;
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		.underline {
			width: 0;
			top: 0.1em;
			left: 0.2em;
			position: relative;
			border-top: 0.05em solid lighten($mgColor, 10%);
			border-bottom: 0.05em solid lighten($mgColor, 10%);
		}
		margin: 1em;
	}
}