.row {
	height: 1 * $block;
	position: fixed;
	z-index: 666999;
	.transition {
		@include transition( all .2s linear );
	}
	font-family: 'BebasNeueRegular';
}

.row:nth-of-type(1) {
	top: 0;
	width: 3 * $block;
	.block-container:nth-of-type(1) {
		left: 0;
		.block-front .text {
			position: relative;
			top: 0.25em;
			left: 0.15em;
			p {
				font-size: 1.4em;
				letter-spacing: 0.2em;
			}
		}
		.block-back .text {
			position: relative;
			top: 0.9em;
			p {
				font-size: 1.6em;
			}
		}
	}
	.block-container:nth-of-type(2) {
		left: $block;
		top: -1 * $block;
		.block-front .text {
			position: relative;
			top: 0.9em;
			p {
				font-size: 1.3em;
				text-decoration: overline underline;
			}
		}
		.block-back .text {
			position: relative;
			top: 1em;
			p {
				font-size: 1.4em;
			}
			p:nth-of-type(1):before {
				content: "";
				width: 1.8em;
				height: 1em;
				position: absolute;
				top: -0.15em;
				left: 0.13em;
				border: 1px solid white;
			}
		}
	}
	.block-container:nth-of-type(3) {
		left: 2 * $block;
		top: -2 * $block;
		.block-front .text {
			position: relative;
			top: 0.3em;
			p:nth-of-type(1) {
				font-size: 1.7em;
				line-height: 0.9em;
			}
			p:nth-of-type(2) {
				font-size: 0.9em;
			}
		}
		.block-back .text {
			position: relative;
			top: 0.2em;
			p {
				font-size: 3em;
			}
		}
	}
}

.row:nth-of-type(2) {
	top: $block;
	width: 2 * $block;
	.block-container:nth-of-type(1) {
		left: 0;
		.block-front .text {
			position: relative;
			top: 0.5em;
			p {
				font-size: 1.3em;
				letter-spacing: 0.05em;
				line-height: 0.9em;
			}
		}
		.block-back .text {
			position: relative;
			top: 0.5em;
			p {
				font-size: 1.3em;
				letter-spacing: 0.05em;
				line-height: 0.9em;
			}
		}
	}
	.block-container:nth-of-type(2) {
		left: $block;
		top: -1 * $block;
		.block-front .text {
			position: relative;
			top: 0.25em;
			p {
				font-size: 1.2em;
			}
			p:nth-of-type(2) {
				line-height: 0.3em;
			}
		}
		.block-back .text {
			position: relative;
			top: 0.9em;
			p {
				font-size: 1.5em;
			}
		}
	}
}

.row:nth-of-type(3) {
	top: 2 * $block;
	width: 1 * $block;
	.block-container:nth-of-type(1) {
		left: 0;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.block-container {
	width: $block;
	height: $block;
	position: relative;
	@include perspective(800px);
	.text {
		width: 100%;
		text-align: center;
		position: relative;
		display: block;
	}
}

.block {
  width: 100%;
  height: 100%;
  position: absolute;
  @include transform-style( preserve-3d );
  @include transition-property( transform );
  @include transition-duration( 0.3s );
}

.block-front, .block-back {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	@include backface-visibility( hidden );
}

.block-front {
	z-index: 2;
}

.block-back {
	@include transform( rotateY( 180deg ) );
}

.block.flipped {
	@include transform( rotateY( 180deg ) );
}

nav {
	position: fixed;
	top: 0;
	background: lighten($mgColor, 5%);
	width: 11em;
	height: 100%;
	right: -11.5em;
	box-shadow: -1px 0 3px rgba(0, 0, 0, 0.7);
	z-index: 666998;
}

#mobile {
	position: fixed;
	width: $block;
	height: $block;
	right: 0;
	background: lighten($mgColor, 10%);
	box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.7);
	z-index: 666999;
	text-align: center;
	p {
		font-family: 'entyporegular';
		font-size: 5em;
		position: relative;
		top: -0.19em;
		cursor: pointer;
		@include transition-property( transform );
		@include transition-duration( 0.3s );
	}
}

.spin {
	@include transform( rotateZ(360deg) );
}

#m-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 666997;
}

#buttons {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	ul {
		list-style: none;
	}
	li {
		float: left;
		width: 100%;
		height: 2.5em;
		font-size: 1.5em;
		color: $fgColor;
		font-family: 'BebasNeueRegular';
		.hoverBar {
			display: block;
			height: 0px;
			background-color: $fgColor;
			@include transition (all .1s ease-in-out);
		}
		a {
			margin-left: 1em;
			position: relative;
			top: 0.5em;
			width: 20%;
			text-align: center;
			@include transition (all .1s linear);
		}
	}
}

.hex-top {
	width: 0;
	border-bottom: 1.875em solid #FFFFFF;
	border-left: 3.25em solid transparent;
	border-right: 3.25em solid transparent;
}
.hex-middle {
	width: 6.5em;
	height: 3.75em;
	background-color: #FFFFFF;
}
.hex-bottom {
	width: 0;
	border-top: 1.875em solid #FFFFFF;
	border-left: 3.25em solid transparent;
	border-right: 3.25em solid transparent;
}

#hex-container {
	position: absolute;
	left: 50%;
	@include transform( translate(-50%, 0) );
	z-index: 200;
	width: 6.5em;
	height: 7.5em;
	text-align: center;
	img {
		height: 100%;
		margin-top: 0.25em;
	}
	#hex {
		position: absolute;
		@include transform-style( preserve-3d );
		@include transition-property( transform );
		@include transition-duration( 0.6s );
		@include transform-origin( right center);
		width: 100%;
		height: 100%;
	}
	#hex.flipped {
		@include transform( translateX(-100%) rotateY(180deg) );
	}
	.hex-wrapper {
		display: block;
		position: absolute;
		@include backface-visibility( hidden );
	}
	#hex-back {
		@include transform( rotateY(180deg) );
	}
}