@font-face {
    font-family: 'BebasNeueRegular';
    src: font-url('BebasNeue-webfont.eot');
    src: font-url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('BebasNeue-webfont.woff') format('woff'),
         font-url('BebasNeue-webfont.ttf') format('truetype'),
         font-url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entyporegular';
    src: url('Entypo-webfont.eot');
    src: url('Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('Entypo-webfont.woff') format('woff'),
         url('Entypo-webfont.ttf') format('truetype'),
         url('Entypo-webfont.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klinic_slabbook';
    src: url('klinicslabbook-webfont.eot');
    src: url('klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabbook-webfont.woff') format('woff'),
         url('klinicslabbook-webfont.ttf') format('truetype'),
         url('klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px !important;
    font-family: 'BebasNeueRegular' !important;
    @media only screen and (max-width: 600px) {
        font-size: 12px !important;
    }
}