$block: 3em;

$fgColor: #ffffff;
$bgColor: darken(#2b303e, 5%);
$mgColor: #2b303e;

$homeColor: #4ddfff;
$aboutColor: #f8d337;
$registerColor: #4ddfff;
$scheduleColor: #f8d337;
$sponsorColor: #4ddfff;
$contactColor: #f8d337;
$competitionColor: #4ddfff;