$block: 3em;

$fgColor: #ffffff;
$bgColor: darken(#2b303e, 5%);
$mgColor: #2b303e;

$homeColor: #4ddfff;
$aboutColor: #f8d337;
$registerColor: #00aeef;
$scheduleColor: #ffff66;
$contactColor: #99c3ff;