.dept {
	margin: 0.8em 0 1.2em;
	img {
		&:hover {
			box-shadow: 0 0.1em 0.3em darken($bgColor, 10%);
			@include transform( scale(1.05, 1.05) );
		}
		cursor: pointer;
		border: 0.1em solid $fgColor;
		height: 3em;
		@include transition(all 0.1s linear);
	}
	.separator {
		border-left: 0.05em solid lighten($mgColor, 10%);
		border-right: 0.05em solid lighten($mgColor, 10%);
		display: inline-block;
		margin: 0 0.45em;
		height: 0;
		position: relative;
		top: -0.5em;
		@media only screen and (max-width: 600px) {
			border: none;
			margin: 0.1em;
		}
	}
	img, .separator, .triangle {
		@media only screen and (max-width: 900px) {
			font-size: 0.8em;
		}
		@media only screen and (max-width: 740px) {
			font-size: 0.65em;
		}
		@media only screen and (max-width: 600px) {
			font-size: 1em;
		}
	}
	.bio {
		width: 100%;
		p {
			width: 90%;
			font-size: 0.5em;
			padding: 0.1em 5%;
			span {
				display: inline-block;
			}
			span:nth-of-type(1) {
				width: 50%;
				font-size: 1.2em;
				font-family: "BebasNeueRegular";
				text-align: left;
			}
			span:nth-of-type(2) {
				width: 50%;
				font-family: "klinic_slabbook";
				font-weight: 500;
				text-align: right;
			}
		}
		padding: 3% 0;
		background: $mgColor;
		box-shadow: 0 1px 1px darken($bgColor, 5%);
		@media only screen and (max-width: 600px) {
			margin-bottom: 0.5em;
		}
	}
	.bio-wrapper {
		overflow: hidden;
		height: 0;
	}
	.triangle {
		width: 0.5em;
		height: 0.5em;
		@include transform( rotate(45deg) );
		margin-top: -0.25em;
		margin-bottom: 0.5em;
		background: $mgColor;
		box-shadow: 1px 1px 0 darken($bgColor, 5%);
		@media only screen and (max-width: 600px) {
			display: none;
		}
	}
}

@for $i from 1 through 5 {
	@for $j from 1 through 5 {
		.dept:nth-of-type(#{$i}) .bio-wrapper:nth-of-type(#{$j}) {
			.triangle {
				margin-left: #{3 * $j - 2}em;
			}
		}
	}
}