h1 {
	font-size: 3em;
	text-align: center;
}

@for $i from 1 through 6 {
	.qa:nth-of-type(#{$i}) {
		span {
			@include transition(width #{(7 - $i) * 0.15}s ease-in-out);
		}
		.question:before {
			@include transition(left #{(7 - $i) * 0.15}s ease-in-out);
		}
		&.next {
			.question {
				&:before {
				left: 45% - $i * 5;
				}
				width: 45% - $i * 5;
			}
			.answer {
				width: 55% + $i * 5;
			}
		}
	}
}

.qa {
	margin: 1em 0;
	&:nth-of-type(1) {
		margin: 0;
	}
	span {
		font-size: 2em;
		display: inline-block;
	}
	p {
		padding: 1em;
	}
	.question {
		width: 0%;
		background-color: $mgColor;
		&:before {
			content: "";
			width: 0;
			border-top: 3em solid $mgColor;
			border-right: 1em solid transparent;
			position: absolute;
			left: 0%;
		}
	}
	.answer {
		color: $mgColor;
		background-color: $homeColor;
		width: 70%;
		text-align: right;
	}
}

.wrap-top, .wrap-bottom {
	position: absolute;
	left: 0;
	margin: -6.6em 0 0 -0.6em;
	border: 0.2em solid transparent;
}

.wrap-bottom {
	left: 100%;
	margin: 0.2em;
}

.qa {
	@media only screen and (max-width: 1000px) {
		font-size: 0.8em;
	}
	@media only screen and (max-width: 800px) {
		font-size: 0.8em;
	}
	@media only screen and (max-width: 700px) {
		font-size: 0.6em;
	}
	@media only screen and (max-width: 600px) {
		font-size: 0.8em;
	}
	@media only screen and (max-width: 520px) {
		font-size: 0.6em;
	}
}

#shine {
	position: relative;
	left: -0.3em;
	top: -0.1em;
	.ray {
		background: $homeColor;
		height: 0.2em;
		width: 0;
		position: absolute;
		@include transform-origin( 0 0 );
	}
	.ray:nth-of-type(1) {
		@include transform( rotate(225deg) );
	}
	.ray:nth-of-type(2) {
		@include transform( rotate(190deg) );
		margin-top: 0.7em;
		margin-left: -0.2em;
	}
	.ray:nth-of-type(3) {
		@include transform( rotate(260deg) );
		margin-left: 0.7em;
		margin-top: -0.2em;
	}
}

#teaser {
	height: 0;
	position: relative;
	left: 50%;
	@include transform( translate(-50%, 0%) );
	border: 0.5em solid lighten($mgColor, 10%);
}

.textbox span {
	color: $homeColor;
}

#kickoff {
	margin: 1em 0 2em;
	.kick {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 30%;
		&:nth-of-type(2) {
			left: 5%;
		}
		&:nth-of-type(3) {
			left: 10%;
		}
		.cta {
			background: $homeColor;
			box-shadow: 0 1px 1px darken($bgColor, 5%);
			height: 5em;
			padding: 2em 0;
			.box {
				width: 100%;
				height: 5em;
				overflow: hidden;
			}
			p {
				position: relative;
				padding: (1em/3) 0;
				margin: 0;
				font-family: 'BebasNeueRegular';
				font-size: 3em;
				color: $fgColor;
				@include transition(top 0.3s $ease-in-out-back);
				&.up {
					top: (-4.8em/3);
				}
			}
			img {
				position: relative;
				display: block;
				margin: 0.5em auto;
				width: 4em;
				height: 4em;
				@include transition(top 0.3s $ease-in-out-back);
				&.up {
					top: -5em;
				}
			}
		}
		p {
			text-align: center;
			font-size: 1.2em;
			font-family: 'klinic_slabbook';
			margin: 0.5em 0;
		}
		.lock {
			background: $mgColor;
		}
	}
}