.speakers-left {
  width: 49%;
  float: left;
  @media only screen and (max-width: 800px) {
    float: none;
    width: 100%;
  }
}

.speakers-right {
  width: 49%;
  float: right;
  @media only screen and (max-width: 800px) {
    float: none;
    width: 100%;
  }
}

.speaker {
  display: block;
  background: $mgColor;
  width: 100%;
  .speaker-info {
    padding: 0 2em 1.5em;
    font-size: 0.8em;
  }
  img {
    width: 100%;
  }
  margin-bottom: 1em;
  .speaker-bio {
    display: none;
  }
  .text-btn {
    color: $scheduleColor;
    cursor: pointer;
  }
}

.schedule {
  table {
    width: 100%;
  }
  .event {
    width: 100%;
    &:nth-of-type(odd) {
      background: lighten($mgColor, 10%);
    }
    &:nth-of-type(even) {
      background: lighten($mgColor, 5%);
    }
  }
  .info, .desc {
    vertical-align: top;
    padding: 1em 3%;
  }
  .info {
    width: 21%;
  }
  .desc {
    width: 70%;
    padding-left: 0;
  }
}